header {
  height: 60px;
  /* position: fixed; */
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-links{
  width: 400px;
  /* background-color: black; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
}

.search-container{
  width: 200px;
  /* background-color: white; */
  display: flex;
  align-items: center;
}

.nav-profile-info{
  width: 100px;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5px;
  /* margin-left: 50px; */
}

.nav-profile-img{
  background-color: black;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
}

.nav-username{
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.logout-button{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 140px;
}

